[submodule "julius"]
	path = julius
	url = https://github.com/julius-speech/julius
[submodule "dictation-kit"]
	path = dictation-kit
	url = https://github.com/julius-speech/dictation-kit
[submodule "grammar-kit"]
	path = grammar-kit
	url = https://github.com/julius-speech/grammar-kit
[submodule "toll_ai"]
	path = toll_ai
	url = https://github.com/SEC-Online-Boot-Camp/toll_ai
